MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=change_me
MONGO_DATABASE=appdb
MONGO_CACHE_SIZE_GB=0.25

DC_MONGO_PORT=27017
DC_MONGOEXPRESS_PORT=8081

MONGOEXPRESS_USERNAME=mexpress
MONGOEXPRESS_PASSWORD=change_me
